---
---

@import "{{ site.theme }}";

p img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

em {
    font-weight: lighter;
    font-family: serif;
    text-align: center;
}
